<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= ENV['SITE_NAME'] || 'Rhyolite' %></title>
		<meta name="description"
			content="<%= ENV['SITE_DESCRIPTION'] || 'A simple, robust blog engine that integrates with Dropbox.'%>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<header>
			<h1><%= ENV['SITE_NAME'] || 'Rhyolite' %></h1>
			<h3><%= ENV['SITE_DESCRIPTION'] || 'A simple, robust blog engine that integrates with Dropbox.' %></h3>
			<nav>
				<a href="/"><h3>home</h3></a>
				<a href="/site/about?ext=.txt"><h3>about</h3></a>
				<a href="/site/contact?ext=.txt"><h3>contact</h3></a>
			</nav>
		</header>
		<section>
			<%= yield %>
		</section>
		<footer>
			<nav>
				<a href="/"><h3>home</h3></a>
				<a href="/site/about?ext=.txt"><h3>about</h3></a>
				<a href="/site/contact?ext=.txt"><h3>contact</h3></a>
			</nav>
			<p>Powered by Rhyolite: a lightweight blog engine that integrates with Dropbox.</p>
		</footer>
	</body>
</html>